@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

body {
  min-height: max(884px, 100dvh);
}

.article-content ul {
  list-style-type: disc !important;
  padding-left: 2rem !important;
  margin-bottom: 1rem !important;
  display: block !important;
}

.article-content ol {
  list-style-type: decimal !important;
  padding-left: 2rem !important;
  margin-bottom: 1rem !important;
  display: block !important;
}

.article-content li {
  margin-bottom: 0.5rem !important;
  display: list-item !important;
}

.article-content blockquote {
  border-left: 4px solid #008751;
  padding-left: 1rem;
  color: #404943;
  font-style: italic;
  margin: 1rem 0;
}

.article-content img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1rem auto;
}

.article-content iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  margin: 1rem auto;
}

.article-content b, .article-content strong {
  font-weight: bold !important;
}

.article-content i, .article-content em {
  font-style: italic !important;
}

.article-content u {
  text-decoration: underline !important;
}

.article-content p {
  margin-bottom: 1rem;
}
